.licenseContainer {
  padding: 2rem 6rem;
}

.licenseImagesContainer {
  display: flex;
  justify-content: space-between;
}

.licenseImage:first-child {
  margin-right: 50px;
}

@media only screen and (max-width: 650px) {
  .licenseContainer {
    padding: 1.5rem;
  }
  .licenseImagesContainer {
    display: flex;
    flex-direction: column;
  }
}
