.filesContainer {
  padding: 0rem 5rem 1rem 5rem;
}

.fileUl {
  list-style-type: none;
}

.fileLi {
  margin-bottom: 0.5rem;
}

.fileLink {
  text-decoration: none;
  color: #424242;
  display: inline-block;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .filesContainer {
    padding: 0 1.5rem;
  }
}