.warning {
  background: #fff8e1;
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid #ffe082;
  margin: 3rem 5rem;
}

.warningContainer {
  padding: 1rem 0;
}

@media screen and (max-width: 768px) {
  .warning {
    margin: 0;
    padding: 0;
  }
}