:root {
    --sm: 320px;
    --lg: 1024px;
    --md: 600px;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0,0,0,.8);
    font-family: sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-smoothing: antialiased;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

a {
    text-decoration: "none",
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

iframe {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
  }

button {
    display: inline-block;
    padding: .3rem .5rem;
    background-color: #388e3c;
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .7s cubic-bezier(.19,.99,.19,.99);
    transition: all .7s cubic-bezier(.19,.99,.19,.99);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    position: relative;
}

.container {
    padding: 2rem, 5rem
}
