.termsContainer {
  margin: 2rem 5rem;
  box-shadow: 0 2px 7px 0 rgba(60, 64, 67, 0.3),
    0 2px 12px 5px rgba(60, 64, 67, 0.15);
  padding: 15px 20px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.termsTitle {
 max-width: 100%;
}

.termUl {
  padding: 0rem 2rem;
}

.termLi {
  margin-bottom: 1.25rem;
}

.termLink {
  text-decoration: none;
  color: #424242;
  display: inline-block;
}

@media only screen and (max-width: 650px) {
  .termsContainer {
    margin: 0;
  }
}

