.monthlyReports {
    cursor: pointer;
    color: #424242;
    font-size: 1.25rem;
    line-height: 1.45;
}

@media only screen and (max-width: 930px) {
    .monthlyReports {
    font-size: 1rem;
    line-height: 1.1;
    }
  }