.footer {
  background: #424242;
  color: #fff;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 1.5rem;
}

.link {
  list-style-type: none;
}

.navbarItem {
  color: #fff;
  margin-left: 10px;
  position: relative;
  font-size: 0.8rem;
  text-decoration: none;
}

.navbarItem::after {
  content: "|";
  color: hsla(0, 0%, 100%, 0.3);
  display: inline-block;
  margin-left: 10px;
}

.footerWarning {
  padding: 1.5rem 10rem;
  text-align: center;
  opacity: 0.65;
  border-top: 1px solid hsla(0, 0%, 100%, 0.3);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  line-height: 25px;
}

.footerCopywrite {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1.1rem 0;
}

.footerIcons {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
}

.footerIcon {
  margin: 0 10px;
}

.footerLogo {
  width: 150px;
  object-fit: cover;
  height: 60px;
}

.active {
  color: #ffe082;
}

@media only screen and (max-width: 768px) {
  .ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .navbarItem::after {
    content: "";
  }

  .footerWarning {
    padding: 1rem;
    font-size: 1rem;
  }
  .ul {
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .link {
    margin-bottom: 0;
  }
  .footerCopywrite {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    align-items: center;
  }
  .footerIcons {
    margin-bottom: 20px;
  }
  .footerIcon {
    margin: 0 5px;
  }
  .footerLogo {
    margin-bottom: 10px;
  }
}
