.textLinkContainer {
  margin: 2rem 5rem 30px;
  padding: 15px 20px;
  border-radius: 3px;
}


.textLinkTitle {
  max-width: 100%;
}

.textLinkUl {
  padding: 0rem 2rem;
}

.textLinkLi {
  margin-bottom: 1.25rem;
}

.textLink {
  text-decoration: none;
  color: #424242;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .textLinkContainer {
    margin: 0 0 1rem 0;
  }
}
