  .hero-container {
    position: relative;
    height: 29vw;
    width: 100%;
    max-height: 55vh;
    min-height: 210px;
    line-height: 1.1;
  }

  .slider-image {
    width: 100%;
    max-height: 65vh;
    object-fit: cover;
    min-height: 210px;
  } 
  
  .hero-container h1 {
    position: absolute;
    color: #fff;
    bottom: 3rem;
    left: 5rem;
    right: 5rem;
    font-size: 2.2rem;
  }

  .animated-carousel-dots {
    position: absolute;
    bottom: 1rem;
    left: 5rem;
  }
  
  .animated-carousel-dot {
    margin-right: .5rem;
    border-radius: 50%;
    padding: .4rem;
    background: #888;
    border: none;
    outline: none;
  }
  
  .animated-carousel-dot.active {
    background: #fff;
  }


  @media only screen and (max-width: 1024px) {
    .hero-container h1 {
      font-size: 1.6rem;
      left: 2.5rem;
      right: 2.5rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .hero-container h1 {
      font-size: 1.3rem;
      left: 1rem;
      right: 1rem;
    }
  }