.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLogo {
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
  transition: all 0.3s;
  cursor: pointer;
  margin-inline: 8px;
}

.socialLogo:hover {
  border: 1px solid white;
  box-shadow: 0 0 4px 2px #bcbcbc;
}